.container-fluid {
    background-color: rgb(19, 22, 223); 
    border-color: black;
    border-radius: 5px;
    

}

.carousel-inner {
    display: grid;
    width: 1000px;
    /*height: 1200px;*/
    margin: auto;
   padding: auto;

}
.img-logo{
    width: 200px;
    display: flex;
    margin: auto;

}
